@import "material-icons/iconfont/material-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  /* --header-height:60px; */
  --header-height: 4rem;
  --nav-width: 10rem;
  --primary-color: #2563eb; /* Blue Accent */
  --bg-color: #ffffff;
  --header-bg-color: #111827;
  --menu-hover-color: #2563eb;
  --text-color: #1e293b;
  --border-color: #e2e8f0;
  --font-family: "Segoe UI", Roboto, sans-serif;
  --spacing: 1rem;
  --radius: 0.5rem;
  --page-title-color: #34d399;
}

.main {
  padding: 1rem 1.5rem;
  position: relative;
}

.page-title h2 {
  text-align: center;
  color: var(--page-title-color);
  margin-bottom: 1rem;
  position: fixed;
  top: 30px;
  z-index: 1000;
  left: 50%;
}

.delete-btn {
  background-color: red;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12.8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #fff;
}

.material-icons {
  font-size: 1rem;
}

.delete-btn .material-icons{
  color: red;
}
.edit-btn .material-icons{
  color: green;
}
